@font-face {
    font-family: 'questrial';
    src: url(../fonts/questrial.ttf);
}

@font-face {
    font-family: 'sketch';
    src: url(../fonts/sketch.ttf);
}

@font-face {
    font-family: 'header';
    src: url(../fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: 'latin';
    src: url(../fonts/Rochester-Regular.ttf);
}

::-webkit-scrollbar {
    background-color: rgba(20, 20, 20);
    height: 15px;
    width: 7px;
    box-shadow: inset 0 0 15px 3px rgba(20, 20, 20);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(35, 35, 35);
    box-shadow: inset 0 0 10px 4px rgba(20, 20, 20, .5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'questrial';
    z-index: 0;
    outline: none;
}

body {
    overflow-x: hidden;
    background-color: rgba(10, 10, 10);
}

body.overflow {
    overflow-y: hidden;
}

title {
    display: block;
    font-family: 'header';
    font-size: 35px;
    color: white;
}

title.italic {
    font-style: italic !important;
}

title.center {
    display: block !important;
    text-align: center !important;
}

title.right {
    text-align: right !important;
}

title.justify {
    text-align: justify !important;
}

title.title.title-1 {
    margin: 15px;
    font-style: italic;
    font-size: 45px;
}

.flex.flex-center title {
    text-align: center;
}

.gd-text {
    display: inline-flex !important;
    color: transparent !important;
    padding-right: 10px;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100)) !important;
    background-clip: text;
    -webkit-background-clip: text;
}

.gd-text.gd-text-alt {
    background-image: linear-gradient(45deg, rgba(255, 0, 175), rgba(255, 50, 0)) !important;
}

.gd-text.gd-text-alt-2 {
    background-image: linear-gradient(45deg, rgba(100, 0, 255), rgba(255, 50, 0)) !important;
}

/* TEXT STYLE */

.text-gradient {
    display: inline-block;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100)) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.text-italic {
    font-style: italic !important;
}

.text-bold {
    font-weight: 800 !important;
}

.text-normal {
    font-weight: normal !important;
    font-style: normal !important;
}

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}

.title {
    font-family: 'header' !important;
}

/* POSITION */

.pos-rel {
    position: relative !important;
}

/* DISPLAY */

.in-bl {
    display: inline-block !important;
}

.text-center {
    text-align: center;
}

.font-italic {
    font-style: italic;
}

.color-white {
    color: white;
}

.navbar {
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    display: flex;
    padding: 30px;
    align-items: center;
}

.navbar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0, .0), rgba(0, 0, 0, .7));
    transform: translateY(0);
    transition: transform 300ms;
}

.navbar .logo {
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0,200,255), rgba(0,255,150));
    -webkit-background-clip: text;
    background-clip: text;
    transition: 300ms;
}

.navbar.fixed {
    position: fixed;
    width: 100%;
}

button#toggle {
    position: fixed;
    z-index: 4;
    top: 30px;
    right: 30px;
    height: 15px;
    width: 75px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button#toggle::before,button#toggle::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background-image: linear-gradient(-45deg, rgba(0,200,255), rgba(0,255,150));
    /* background-color: rgba(0,255,150); */
    top: 0;
    right: 0;
    transition: width 150ms, transform 150ms, background-color 300ms;
}

button#toggle::after {
    top: unset;
    bottom: 0;
    width: 50%;
}

/* .navbar button#toggle.open{
} */

button#toggle.open::before {
    background-image: linear-gradient(-45deg, rgba(0,0,0), rgba(0,0,0));
    transform: rotateZ(45deg) translate(5px, 5px);
    width: 50%;
}

button#toggle.open::after {
    background-image: linear-gradient(-45deg, rgba(0,0,0), rgba(0,0,0));
    transform: rotateZ(-45deg) translate(3px, -3px);
    width: 50%;
}

.navbar.transparent::before {
    transform: translateY(-120%);
}

.navbar.open .logo {
    color: black;
}

.navbar.open::before {
    transform: translateY(-150%);
}

.navbar .profile {
    position: relative;
    margin-left: auto;
}

.navbar .profile i.button {
    color: black;
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 150ms, color 150ms;
}

.navbar .profile .profile-content {
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 150px;
    right: 10px;
    top: 45px;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: transform 150ms, opacity 150ms;
}

.navbar .profile .profile-content.open {
    transform: scale(1);
    opacity: 1;
}

.navbar .profile .profile-content a {
    color: black;
    padding: 10px 15px;
    transition: background-color 150ms, color 150ms;
}

.navbar .profile .profile-content a i {
    margin-right: 5px;
}

.navbar .profile .profile-content a:hover {
    background-color: black;
    color: white;
}

.tags {
    padding: 10px;
    text-align: center;
}

.tags a {
    padding: 5px 20px;
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    color: black;
    font-family: 'questrial';
    flex-shrink: 0;
}

.tags a:hover {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    z-index: 2;
    padding-top: 75px;
    padding-bottom: 50px;
    top: 0;
    left: 0;
    height: 105%;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(0, 175, 255), rgba(0, 255, 150));
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, .3);
    transition: transform 300ms;
    transform: translateX(150%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar input {
    border: none;
    background-color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
}

.sidebar a {
    padding: 15px 30px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    transition: background-color 150ms, color 150ms;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.sidebar i {
    margin-right: 15px;
    transition: color 150ms;
    width: 20px;
}

.sidebar .sidebar-list {
    display: grid;
}

.sidebar .sidebar-list.large a {
    padding: 30px;
    font-size: 30px;
}

.sidebar .sidebar-list.horizontal {
    display: flex;
    flex-direction: row;
    margin: 15px 30px;
    height: 75px;
}

.sidebar .sidebar-list.horizontal a.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 75px !important;
    height: 75px !important;
    margin-right: 10px;
}

.sidebar .sidebar-list.horizontal a.icon i {
    font-size: 25px;
    margin-right: 0;
}

/* PILL */

.pill {
    border: 2px solid rgba(150, 150, 150);
    width: max-content;
    padding: 5px 10px;
    height: max-content;
    border-radius: 30px;
    color: rgba(150, 150, 150);
    font-weight: 800;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    /* transition: border 100ms, color 100ms; */
}

.pill.hover:hover {
    border: 2px solid white;
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
    background-clip: text;
    -webkit-background-clip: text;
}

.pill-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.pill-container .pill {
    margin-right: 5px;
}

.pill-container .pill:last-child {
    margin-right: 0;
}

/* NEWS THUMBNAIL */

.news-thumbnail {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* HIDE */

.hide {
    display: none !important;
}

/* NEWS HEADER */

.news-header {
    position: relative;
    z-index: 0;
    min-height: 450px;
    height: 97vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-header a {
    text-decoration: none;
}

.news-header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(10, 10, 10), rgba(10, 10, 10, .7), rgba(10, 10, 10, .3));
}

.news-header title {
    display: inline;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 80%;
    margin: 20px;
    padding-right: 10px;
    color: white;
}

.news-header p {
    align-items: center;
    color: rgba(200, 200, 200, .9);
    font-size: 18px;
    margin: 0 15px;
}
.news-header date{
    margin: 30px 0 !important;
}
@media (min-width: 800px){
    .news-header::before {
        background-image: linear-gradient(0deg, rgba(10, 10, 10), rgba(10, 10, 10, .6), rgba(10, 10, 10, .1));
    }
    .news-header::after {
        content: '';
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(90deg, rgba(10, 10, 10, .6), rgba(10, 10, 10, .2), rgba(10, 10, 10, .6));
    }
}

.category {
    display: flex;
    flex-direction: row;
}

.category a {
    text-decoration: none;
    color: rgba(0, 0, 0);
    margin-left: 5px;
    font-weight: 800;
    padding: 5px 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
    height: max-content;
}

.category a:hover {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgb(0, 255, 100));
}

.category a:nth-child(1) {
    margin-left: 0;
}

.category a:last-child::after {
    content: '';
}

@media(max-width: 500px) {
    .news-header {
        height: 95vh;
    }
    .news-header title {
        font-size: 40px;
    }
}

.news-header .news-author {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 50px;
    color: white;
}


/* USERNAME */

.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 0;
    border-radius: 30px;
}

.username #image {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 5px;
}

.username span {
    color: white;
    font-weight: 800;
}

.username.white {
    background-color: white;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    padding: 5px 10px 5px 5px;
}

.username.white span {
    color: black;
}

.username.gradient {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    padding: 5px 10px 5px 5px;
}

.username.gradient span {
    color: black;
}

.username.black {
    background-color: rgba(0, 0, 0);
    padding: 5px 10px 5px 5px;
}

.news-body #date {
    background-image: linear-gradient(45deg, rgba(30, 30, 30), rgba(60, 60, 60));
    border-radius: 5px;
    position: relative;
    display: flex;
    margin: 0 15px 15px 15px;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
}

.news-body #date day {
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 150));
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
    font-size: 40px;
}

.news-body #date month {
    font-size: 20px;
}

.news-body #date year {
    border-radius: 5px;
    font-weight: 800;
}

.news-body #date div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    border-left: 2px solid rgba(255, 255, 255, .1);
}

/* NEWS BODY */

.news-body {
    background-image: linear-gradient(0deg, rgba(10,10,10,.9), rgba(10,10,10));
    position: relative;
    padding-top: 150px;
}

/* NEWS BODY COMPONENT */

.news-body #body {
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 15px;
    padding: 15px 15px;
    border-top: 2px solid rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
}

.news-body #body p {
    font-size: 18px;
    color: black;
}

.news-body #body blacktitle, .news-body #body whitetitle, .news-body #body bluetitle, .news-body #body redtitle, .news-body #body greentitle, .news-body #body purpletitle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'header';
    font-size: 45px;
    font-style: italic;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.news-body #body blacktitle {
    background-image: linear-gradient(45deg, rgba(0, 0, 0), rgba(30, 30, 30));
}

.news-body #body whitetitle {
    background-image: linear-gradient(45deg, rgba(150, 150, 150), rgba(255, 255, 255));
}

.news-body #body bluetitle {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 150));
}

.news-body #body redtitle {
    background-image: linear-gradient(45deg, rgba(255, 0, 50), rgba(255, 150, 0));
}

.news-body #body purpletitle {
    background-image: linear-gradient(45deg, rgba(100, 0, 255), rgba(255, 0, 50));
}

.news-body #body greentitle {
    background-image: linear-gradient(45deg, rgba(0, 100, 50), rgba(0, 255, 0));
}

.news-body #body whitecard, .news-body #body bluecard, .news-body #body redcard, .news-body #body greencard, .news-body #body purplecard, .news-body #body blackcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .15);
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-size: 18px;
}

.news-body #body whitecard title, .news-body #body bluecard title, .news-body #body redcard title, .news-body #body greencard title, .news-body #body purplecard title, .news-body #body blackcard title {
    display: inline-flex;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: none;
}

.news-body #body whitecard {
    color: rgba(40, 40, 40);
    text-shadow: 0 0 5px rgba(255, 255, 255);
    background-image: linear-gradient(45deg, rgba(255, 255, 255), rgba(150, 150, 150));
}

.news-body #body whitecard title {
    background-image: linear-gradient(45deg, rgba(0, 0, 0), rgba(60, 60, 60));
}

.news-body #body blackcard {
    color: rgba(150, 150, 150);
    background-image: linear-gradient(45deg, rgba(10, 10, 10), rgba(40, 40, 40));
}

.news-body #body blackcard title {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 150));
}

.news-body #body bluecard {
    color: rgba(30, 30, 30);
    text-shadow: none;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 150));
}

.news-body #body bluecard title {
    color: black;
}

.news-body #body redcard {
    color: rgba(255, 255, 255);
    background-image: linear-gradient(45deg, rgba(255, 0, 50), rgba(255, 150, 0));
}

.news-body #body redcard title {
    color: white;
}

.news-body #body greencard {
    color: rgba(255, 255, 255);
    background-image: linear-gradient(45deg, rgba(0, 100, 50), rgba(0, 255, 0));
}

.news-body #body greencard title {
    color: white;
}

.news-body #body purplecard {
    color: rgba(255, 255, 255);
    background-image: linear-gradient(45deg, rgba(100, 0, 200), rgba(255, 0, 50));
}

.news-body #body purplecard title {
    color: white;
}

.user-author {
    display: flex;
    position: relative;
    padding: 25px 20% 15px 20%;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgba(10, 10, 10), rgba(10, 10, 10, .0));
}

.user-author .flex {
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

.user-author a {
    text-decoration: none;
}

.user-author #image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
    margin-right: 15px;
    flex-shrink: 0;
}

.user-author title {
    margin: 10px 0;
    display: inline-block;
    font-size: 25px;
    color: white;
    font-family: 'questrial';
    font-weight: 800;
}

.user-author p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.user-author .socmed {
    display: flex;
    flex-direction: row;
    border-radius: 40px;
}

.user-author .socmed a {
    margin-right: 5px;
}

.user-author .socmed a:last-child {
    margin-right: 0;
}

.user-author.extended #image {
    width: 250px;
    height: 250px;
}

.user-author.extended::before {
    content: none;
}

.user-author.extended title {
    font-size: 40px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
}

@media(max-width: 1000px) {
    .user-author {
        padding: 25px 10% 15px 10%;
    }
}

@media(max-width: 750px) {
    .user-author {
        padding: 25px 15px 15px 15px;
    }
}

/* ICON LINK */

a.icon {
    height: 40px !important;
    width: 40px !important;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 150ms, color 150ms;
}

a.icon:hover {
    background-color: white;
    color: black;
}

a.icon.white {
    background-color: white;
    color: black;
}

a.icon.white:hover {
    background-color: black;
    color: white;
}

a.icon.long {
    justify-content: flex-start;
    width: max-content;
    border-radius: 30px;
    padding: 5px 10px 5px 5px;
}

a.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.icon.long i {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
    color: black;
    border-radius: 50%;
    transition: background-color 150ms, color 150ms;
}

a.icon.long.white i {
    background-color: black;
    color: white;
}

a.icon.long:hover i {
    background-color: black;
    color: white;
}

a.icon.long.white:hover i {
    background-color: white;
    color: black;
}

a.icon.long.transparent {
    background-color: transparent;
    color: black;
}

a.icon.long.transparent i {
    width: 10px;
    height: 10px;
    background-color: transparent;
    color: black;
    margin-right: 15px;
    font-size: 20px;
}

a.icon.long.white.transparent {
    background-color: transparent;
    color: white;
}

a.icon.long.white.transparent i {
    background-color: transparent;
    color: white;
}

/* BUTTON */

button#more {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 20px auto 50px auto;
    border: 3px solid white;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    background-color: white;
    padding: 10px 20px;
    color: black;
    font-family: 'header';
    font-size: 20px;
    border-radius: 25px;
    transition: background-color 200ms, color 200ms, transform 100ms, border 200ms;
}

button#more::before {
    content: '';
    position: absolute;
    border-top: 15px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    transition: transform 200ms;
}

button#more:hover::before {
    transform: translateX(-50%) scale(0.7) translateY(-15px);
}

button#more:hover {
    transform: scale(1.1);
    color: white;
    background-color: transparent;
}

button#more:focus {
    border: 3px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    transform: scale(0.9);
}

button#more.black {
    border: 3px solid black;
    background-color: black;
    color: white;
}

button#more.black::before {
    border-top: 15px solid black;
}

button#more.black:hover {
    color: black;
    background-color: transparent;
}

button#more.black:focus {
    border: 3px solid rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .5);
}

.list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: flex-end;
    padding-bottom: 50px;
    padding-top: 50px;
}
.list::-webkit-scrollbar{
    background-color: rgba(10,10,10);
    box-shadow: none;
}
.list::-webkit-scrollbar-thumb{
    background-color: rgba(13,13,13);
    box-shadow: none;
}

@media(min-width: 700px) {
    .list {
        grid-template-columns: 50% 50%;
        column-gap: 15px;
        margin-right: 15px;
    }
}

@media(min-width: 1100px) {
    .list {
        grid-template-columns: 33% 33% 33%;
    }
}

.list.horizontal {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 0;
}

.list.horizontal :nth-child(1) {
    margin-right: 5px;
}

.list.horizontal a {
    margin-right: 5px;
}

.list.horizontal a:last-child {
    margin-right: 0;
}

.list.vertical {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5px;
}

a.link {
    text-decoration: none;
    border-bottom: 2px dotted black;
    color: black;
    font-weight: 800;
}

a.link.white {
    color: white;
    border-bottom: 2px dotted white;
}

a.link.gradient {
    color: transparent !important;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100)) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    border-bottom: 2px dotted rgba(0, 175, 200);
}

a.link.gradient-hover:hover {
    color: transparent !important;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100)) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
}

a.link.gradient.gradient-alt {
    background-image: linear-gradient(45deg, rgba(255, 0, 50), rgba(50, 0, 250)) !important;
    border-bottom: 2px dotted rgba(150, 0, 200);
}

a.link:hover {
    border-bottom: 2px dotted transparent !important;
}

/* ACTION */

.action {
    position: relative;
    padding: 30px;
    background-image: linear-gradient(45deg, rgba(30, 30, 30), rgba(60, 60, 60));
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 250px auto;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    margin: 50px 0;
    overflow: hidden;
}

.action::before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.05);
}

.action::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6), rgba(0, 0, 0, .9));
}

.action .react {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.action .react div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    overflow: hidden;
}

.action .react title {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'questrial';
}

.action .react a {
    position: relative;
    text-align: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
    padding: 15px;
    color: rgba(0, 0, 0);
    transition: font-size 150ms, color 150ms;
}

.action .react a#yes {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
}

.action .react a#no {
    background-image: linear-gradient(45deg, rgba(255, 0, 0), rgb(255, 100, 0));
}

.action .react a#yes i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.action .react a#no i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.action .react a:hover {
    font-size: 25px;
}

.action .share {
    display: grid;
    row-gap: 10px;
    border-radius: 5px;
}

.action .share a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 800;
    background-color: rgba(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    transition: background-color 150ms, color 150ms;
}

.action .share a:last-child {
    margin-bottom: 0;
}

.action .share a:hover {
    background-color: rgba(255, 255, 255, .0);
    color: white;
}

.action .icon {
    margin-right: 5px;
}

@media (max-width: 750px) {
    .action {
        padding: 30px 15px 20px 15px;
        grid-template-columns: auto;
        row-gap: 20px;
        margin: 50px 15px;
    }
}

.icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

/* CONTAINER */

.container {
    margin: 15px;
}

.container.vertical {
    display: grid;
    row-gap: 10px;
}

.container.horizontal {
    display: flex;
    flex-direction: row;
}

.container title.container-title {
    position: relative;
    font-size: 50px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: italic;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    min-height: 75px;
    color: rgba(0, 200, 200);
    background-clip: text;
    -webkit-background-clip: text;
}

.container title.container-title::before {
    content: '';
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    left: 0;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, .0);
    background-image: radial-gradient(rgba(255, 255, 255, .1) 2px, rgba(255, 255, 255, .0) 1px);
    background-size: 20px 20px;
}

.container span.container-title {
    font-size: 25px;
    font-family: 'questrial';
    color: white;
    margin-top: 35px;
    margin-bottom: 5px;
    font-weight: 800;
}

.container span.container-title.container-title-2 {
    font-size: 18px;
    font-weight: normal;
}

.container.no-strip title.container-title {
    margin-bottom: 0;
}

.container.no-strip title.container-title::after {
    display: none;
}

.container.center-strip title.container-title::after {
    background-image: linear-gradient(45deg, rgba(0, 255, 100, .0), rgba(0, 255, 100, .2), rgba(0, 100, 255), rgba(0, 255, 100, .2), rgba(0, 255, 100, .0));
}

.container.white {
    /* background-color: rgba(255,255,255,.025); */
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .0));
    padding: 15px;
    border-radius: 10px;
}

.container.white title.container-title {
    color: white;
}

.container.margin-large {
    padding: 20px;
}

.container-special {
    position: relative;
    padding: 15px;
    display: grid;
}

.container-special::before {
    content: '';
    height: 4px;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
    border-radius: 10px;
    top: 0;
    left: 0;
}

.container-special p {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

.inline-container {
    display: inline-flex;
    align-items: center;
    margin: 15px;
}

.inline-container span.container-title {
    font-family: 'header';
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

/* COMMENT CARD */

.comment-card {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgba(20, 20, 20), rgba(40, 40, 40));
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 60px;
}

.comment-card .user {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 5px;
    border-radius: 50px;
}

.comment-card .user #image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.comment-card .user #description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.comment-card .user span {
    font-size: 13px;
    color: rgba(100, 100, 100);
    font-weight: 800;
}

.comment-card .user span#name {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.comment-card p {
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    margin: 15px 0 10px 0;
}

.comment-card.answer {
    margin-left: 25px;
    margin-right: 25px;
    background-image: none;
}

/* FORM */

form.form {
    display: grid;
    row-gap: 10px;
}

form.form input, form.form textarea {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(30, 30, 30);
    color: white;
    border: 2px solid transparent;
    transition: border 150ms;
}

form.form textarea:focus, form.form input:focus {
    border: 2px solid rgba(0, 200, 255);
}

form.form textarea.news {
    min-height: 500px;
    max-height: 500px;
    min-width: 100%;
    max-width: 100%;
}

form.form textarea .synopsis {
    min-height: 150px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%;
}

form.form button.button-special {
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
    border-radius: 5px;
    font-family: 'header';
    color: black;
    width: fit-content;
    margin-left: auto;
    transition: transform 150ms;
}

@media (max-width: 750px) {
    form.form button.button-special {
        width: 100%;
    }
}

form.form button:hover {
    transform: scale(0.95);
}

form.form input.large {
    font-size: 35px;
    background-color: transparent;
    border-bottom: 3px solid rgba(100, 100, 100);
    color: white;
    border-radius: 0;
    transition: border-bottom 300ms;
}

.form.form input.large:focus {
    border-bottom: 3px solid rgba(255, 255, 255);
}

.form.form p {
    color: white;
}

/* BUTTON */

.button-1 {
    display: inline-block;
    padding: 10px 25px !important;
    border: none;
    border-radius: 30px !important;
    color: black;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    background-color: white;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    width: max-content;
}

.button-1:hover {
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 150));
}

.button-1.danger {
    background-image: linear-gradient(45deg, rgba(255, 0, 10), rgba(255, 0, 100));
}

.button-1.large {
    font-size: 25px;
}

.button-1.border {
    background-color: transparent;
    background-image: none;
    color: white;
    border: 2px solid white;
}

/* MAIN NEWS */

.main-news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 70px 30px 70px 30px;
    height: 95vh;
    min-height: 650px;
    margin-bottom: 150px;
    background-size: cover;
    background-position: center;
}

.main-news::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(10, 10, 10), rgba(10, 10, 10, .8), rgba(10, 10, 10, .3));
}

.main-news title {
    font-size: 40px;
    font-style: italic;
    word-wrap: break-word;
    font-weight: 500;
    background-position: center;
    background-size: cover;
    padding-right: 10px;
    color: white;
    /* background-image: linear-gradient(45deg, rgba(0,150,255), rgba(0,255,100));
    -webkit-background-clip: text;
    background-clip: text; */
}

.main-news p {
    align-items: center;
    color: rgba(200, 200, 200, .9);
    font-size: 18px;
}

.main-news .container {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a.special-button {
    display: inline-block;
    position: relative;
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 800;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .6);
    border-radius: 30px;
    margin-top: 25px;
    width: fit-content;
}
a.special-button::before, a.special-button::after{
    content: '';
    position: absolute;
    top: -4px;
    left: -2px;
    width: 100%;
    height: 110%;
    border-radius: 30px;
    border: 2px solid white;
    transform: scale(0.8);
    animation-name: spec-button;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transform-origin: center;
}
a.special-button::after{
    animation-delay: 0.5s;
}
@keyframes spec-button{
    0%{
        transform: scale(0.8);
    }
    70%{
        opacity: 0.1;
    }
    100%{
        transform: scale(1.5); opacity: 0;
    }
}

.main-news date, .news-header date{
    position: relative;
    color: white;
    margin: 15px 0;
    font-weight: 600;
}
.main-news date::after, .news-header date::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(45deg, rgba(0,150,255), rgba(0,255,150));
}

.main-news-container .main-news{
    align-items: flex-start;
    margin-bottom: 15px;
    padding-bottom: 0;
}
.main-news-container .main-news .container{
    align-items: flex-start;
    text-align: start;
    margin-bottom: 20px;
}
.main-news-container .main-news .share-icon{
    margin-top: 0;
}
.main-news-container{
    padding: 40px 0;
    margin-bottom: 100px;
}
.main-news-container .main-news-detail{
    display: flex;
    flex-direction: column;
    padding: 10px 45px;
    color: white;
    font-size: 18px;
    /* text-align: justify; */
}

@media(min-width: 800px) {
    .main-news::before {
        background-image: linear-gradient(0deg, rgba(10, 10, 10), rgba(10, 10, 10, .6), rgba(10, 10, 10, .2));
    }
    .main-news::after {
        content: '';
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(90deg, rgb(10, 10, 10, .9), rgba(10, 10, 10, .1), rgba(10, 10, 10, .9));
    }
    .main-news title {
        font-size: 50px;
    }
}

/* SHARE ICON */
.share-icon{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.share-icon a{
    margin-right: 5px;
    background-color: transparent !important;
    font-size: 18px;
}
.share-icon a i{
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0,150,255), rgba(0,255,150));
    -webkit-background-clip: text;
    background-clip: text;
}

/* RESPONSIVE MARGIN */

@media (min-width: 750px) {
    .res-margin {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .res-margin-medium {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .res-margin-large {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
}

@media (min-width: 1000px) {
    .res-margin-medium {
        margin-left: 200px !important;
        margin-right: 200px !important;
    }
    .res-margin-large {
        margin-left: 300px !important;
        margin-right: 300px !important;
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
}

.footer a {
    margin-right: 5px !important;
}

.footer a:last-child {
    margin-right: 0;
}

.footer title {
    color: black;
    font-style: italic;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: -10px;
}

/* LOG FORM */

.form-alt {
    background-color: black;
    padding: 100px 25px;
    color: white;
}

.form-alt p {
    color: white;
    font-size: 18px;
}

.form-alt .form-title {
    color: transparent;
    background-image: linear-gradient(45deg, rgba(0, 150, 255), rgba(0, 255, 100));
    background-clip: text;
    -webkit-background-clip: text;
}

.form-alt input[type=text], .form-alt input[type=password] {
    padding: 10px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    width: 100%;
}

.form-alt legend {
    margin: 10px 0;
}

.form-alt button {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%) !important;
    font-size: 18px;
}

@media(min-width: 750px) {
    .form-alt {
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
    }
}

/* MODAL */

.modal {
    transform: scale(0);
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 150ms, opacity 100ms;
}

.modal.open {
    transform: scale(1);
    opacity: 1;
}

.modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    background-color: rgba(40, 40, 40);
    padding: 15px;
    border-radius: 5px;
    max-height: 90%;
    overflow-y: auto;
}

.modal title {
    font-style: italic;
}

@media(max-width: 450px) {
    .modal .modal-content {
        min-width: unset;
        width: 90%;
    }
}

/* USER PROFILE */

.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.user-profile #image {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.user-profile title {
    margin: 0 15px;
    font-family: 'questrial';
    font-size: 45px;
    font-weight: 800;
}

.user-profile .title {
    margin: 15px;
}

/* ARTICLE CARD */

.article-card {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 350px;
    flex-shrink: 0;
    margin: 0 -50% 15px 15px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0);
    transition: margin-right 300ms, transform 300ms;
}

.article-card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(10, 10, 10), rgba(10, 10, 10, .6), rgba(10, 10, 10, .2));
}

.article-card title {
    font-style: italic;
}

.article-card p {
    color: rgba(200, 200, 200);
    margin: 5px 0;
}

.article-card a.more {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100%;
    color: white;
    bottom: -100%;
    left: 0;
    transition: bottom 300ms;
    background-image: linear-gradient(0deg, rgba(10, 10, 10, .9), rgba(10, 10, 10, .0));
}

.article-card:hover {
    margin-right: -15px;
    transform: translate(7px, -30px) rotateZ(-2deg);
}

.article-card:hover a.more {
    bottom: 0;
    font-weight: 800;
}

.article-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-card-2 .article-detail {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    padding: 150px 30px 30px 30px;
    margin: 15px 0;
    color: rgba(150, 150, 150);
    border-radius: 5px;
}

.article-card-2 .article-detail::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(10, 10, 10, .95), rgba(10, 10, 10, .6), rgba(10, 10, 10, .95));
}

.article-card-2 title {
    font-style: italic;
    margin: 5px 0;
}

/* .article-card-2 .username{
    width: 200px;
    flex-direction: column;
    font-size: 18px;
}
.article-card-2 .username #image{
    width: 125px;
    height: 125px;
    margin: 0 0 10px 0;
} */

@media (min-width:800px) {
    .article-card {
        width: 550px;
        margin-right: -15%;
    }
}

.end {
    margin: 0;
    background-color: rgba(10, 10, 10);
    padding: 25px 15px;
}

.end .container {
    margin: 0;
}

/* FLEX */

.flex {
    display: flex;
}

.flex.flex-horizontal {
    flex-direction: row;
}

.flex.flex-center {
    align-items: center;
    justify-content: center;
}

.flex.ali-ite-center {
    align-items: center;
}

.flex.jus-con-center {
    justify-content: center;
}

/* COLUMN */

.col {
    display: grid;
}

.col.col-2 {
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .col.col-2.col-res {
        grid-template-columns: auto;
        margin-right: unset;
    }
}

/* MARGIN */

.mg-no {
    margin: 0 !important;
}

.mg-5 {
    margin: 5px !important;
}

.mg-10 {
    margin: 10px !important;
}

.mg-15 {
    margin: 15px !important;
}

.mg-20 {
    margin: 10px !important;
}

.mg-30 {
    margin: 30px !important;
}

.mg-100-unset {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.mg-l-auto {
    margin-left: auto !important;
}
.mg-l-15{
    margin-left: 15px !important;
}

/* PADDING */

.pd-no {
    padding: 0 !important;
}

.pd-15 {
    padding: 15px !important;
}

.pd-15-t-b {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pd-15-l-r {
    padding-left: 15px;
    padding-right: 15px;
}